APP_NAME="NEXA TAX Indonesia"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://nexatax.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=srv2090.hstgr.io
DB_PORT=3306
DB_DATABASE=u253446757_nexatax
DB_USERNAME=u253446757_nexatax
DB_PASSWORD="P@ssw0rdnexatax!"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Site Access Control
SITE_BLOCKED=false
SITE_BLOCKED_TITLE="Website Tidak Dapat Diakses"
SITE_BLOCKED_MESSAGE="Website tidak bisa diakses. Hubungi developer untuk membuka akses."
DEVELOPER_PHONE="+62 21-80868212"
DEVELOPER_EMAIL="info@nexatax.com"
DEVELOPER_WHATSAPP="622180868212"
